**/.DS_Store

# local env files
.env.local
.env.*.local

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
vscode

# vendor
logs
peer-node
cdn_cache/file/*
!cdn_cache/file/file.readme.md
/storage/
/meson_cdn_cache/
/build/
/m_cache/
/m_storage/
